name: Build

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run dist -- --mac --x64 --arm64
      - uses: actions/upload-artifact@v4
        with:
          name: release-mac
          path: release/*.*

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run dist -- --win --x64 --ia32
      - uses: actions/upload-artifact@v4
        with:
          name: release-windows
          path: release/*.*

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run dist -- --linux --x64
      - uses: actions/upload-artifact@v4
        with:
          name: release-linux
          path: release/*.*
